<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smart.industry.train.biz.mapper.DesignSolutionMapper">
  <resultMap id="BaseResultMap" type="smart.industry.train.biz.entity.DesignSolution">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="createBy" jdbcType="INTEGER" property="createBy" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modifyBy" jdbcType="INTEGER" property="modifyBy" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="classId" jdbcType="INTEGER" property="classId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createDate, createBy, modifyDate, modifyBy, `name`, classId, remark
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from design_solution
  </select>
  <select id="selectByFilter" parameterType="DesignSolution" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from design_solution
    where ${filter}
    <if test="orderBy != null">
       order by ${orderBy}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from design_solution
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from design_solution
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="smart.industry.train.biz.entity.DesignSolution">
    insert into design_solution (id, createDate, createBy, 
      modifyDate, modifyBy, `name`, 
      classId, remark)
    values (#{id,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER},
      #{modifyDate,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{classId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="smart.industry.train.biz.entity.DesignSolution" useGeneratedKeys="true" keyProperty="id">
    insert into design_solution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="modifyDate != null">
        modifyDate,
      </if>
      <if test="modifyBy != null">
        modifyBy,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="classId != null">
        classId,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="smart.industry.train.biz.entity.DesignSolution">
    update design_solution
    <set>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="modifyDate != null">
        modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        modifyBy = #{modifyBy,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        classId = #{classId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="smart.industry.train.biz.entity.DesignSolution">
    update design_solution
    set createDate = #{createDate,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=INTEGER},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyBy,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      classId = #{classId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>